<section class="keyboard">
  <app-key [key]="code.Escape" class="key is-escape"></app-key>
  <app-key [key]="code.F1" class="key"></app-key>
  <app-key [key]="code.F2" class="key"></app-key>
  <app-key [key]="code.F3" class="key"></app-key>
  <app-key [key]="code.F4" class="key"></app-key>
  <app-key [key]="code.F5" class="key"></app-key>
  <app-key [key]="code.F6" class="key"></app-key>
  <app-key [key]="code.F7" class="key"></app-key>
  <app-key [key]="code.F8" class="key"></app-key>
  <app-key [key]="code.F9" class="key"></app-key>
  <app-key [key]="code.F10" class="key"></app-key>
  <app-key [key]="code.F11" class="key"></app-key>
  <app-key [key]="code.F12" class="key"></app-key>
  <app-key [key]="code.Backquote" class="key"></app-key>
  <app-key [key]="code.Digit1" class="key"></app-key>
  <app-key [key]="code.Digit2" class="key"></app-key>
  <app-key [key]="code.Digit3" class="key"></app-key>
  <app-key [key]="code.Digit4" class="key"></app-key>
  <app-key [key]="code.Digit5" class="key"></app-key>
  <app-key [key]="code.Digit6" class="key"></app-key>
  <app-key [key]="code.Digit7" class="key"></app-key>
  <app-key [key]="code.Digit8" class="key"></app-key>
  <app-key [key]="code.Digit9" class="key"></app-key>
  <app-key [key]="code.Digit0" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Backspace" class="key is-backspace"></app-key>
  <app-key [key]="code.Tab" class="key is-tab"></app-key>
  <app-key [key]="code.KeyQ" class="key"></app-key>
  <app-key [key]="code.KeyW" class="key"></app-key>
  <app-key [key]="code.KeyE" class="key"></app-key>
  <app-key [key]="code.KeyR" class="key"></app-key>
  <app-key [key]="code.KeyT" class="key"></app-key>
  <app-key [key]="code.KeyZ" class="key"></app-key>
  <app-key [key]="code.KeyU" class="key"></app-key>
  <app-key [key]="code.KeyI" class="key"></app-key>
  <app-key [key]="code.KeyO" class="key"></app-key>
  <app-key [key]="code.KeyP" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Enter" class="key is-enter"></app-key>
  <app-key [key]="code.CapsLock" class="key is-capslock"></app-key>
  <app-key [key]="code.KeyA" class="key"></app-key>
  <app-key [key]="code.KeyS" class="key"></app-key>
  <app-key [key]="code.KeyD" class="key"></app-key>
  <app-key [key]="code.KeyF" class="key"></app-key>
  <app-key [key]="code.KeyG" class="key"></app-key>
  <app-key [key]="code.KeyH" class="key"></app-key>
  <app-key [key]="code.KeyJ" class="key"></app-key>
  <app-key [key]="code.KeyK" class="key"></app-key>
  <app-key [key]="code.KeyL" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.ShiftLeft" class="key is-shift-left"></app-key>
  <app-key [key]="code.IntlBackslash" class="key"></app-key>
  <app-key [key]="code.KeyY" class="key"></app-key>
  <app-key [key]="code.KeyX" class="key"></app-key>
  <app-key [key]="code.KeyC" class="key"></app-key>
  <app-key [key]="code.KeyV" class="key"></app-key>
  <app-key [key]="code.KeyB" class="key"></app-key>
  <app-key [key]="code.KeyN" class="key"></app-key>
  <app-key [key]="code.KeyM" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.ShiftRight" class="key is-shift-right"></app-key>
  <app-key [key]="code.ControlLeft" class="key is-ctrl"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.AltLeft" class="key is-alt"></app-key>
  <app-key [key]="code.Space" class="key is-space"></app-key>
  <app-key [key]="code.AltRight" class="key is-alt"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.Unidentified" class="key"></app-key>
  <app-key [key]="code.ControlRight" class="key is-ctrl"></app-key>
</section>
