$key-radius: 5px;

:host {
  --keyColor: #00ff00;
  display: block;
  font-family: "Lucida Console", sans-serif;
  font-weight: 300;
  border-radius: 20%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  font-size: 10px;
  color: var(--keyColor);
  box-shadow: 0 0 30px 5px var(--keyColor);
  text-shadow: 0 0.5px 1px var(--keyColor);
  user-select: none;
  cursor: pointer;
  text-transform: capitalize;
}

div {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: $key-radius;
  background: linear-gradient(180deg,#282828,#202020);
  padding: 0 10px;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#232323,#4a4a4a);
    border-radius: $key-radius;
    box-shadow:
      -10px -10px 10px rgba(255,255,255,.25),
      10px 5px 10px rgba(0,0,0,.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
  }

  & span {
    position: relative;
  }
}
